/* 
	Sterowanie szerokością elementów nawigacji.
	Funkcja przyjmuje 4 argumenty:
	- szerokość nawigacji dla danego widoku
	- szerokość logo
	- iloś elementów przypadających na poszczególne menu
	- offset ułatwia podkrecanie  :)

*/

@function navi-segment ($nav_width, $logo_width, $segment, $offset) {
	@return ( ( ( $nav_width - $logo_width ) / 2 ) / $segment ) + $offset *1px;
}