@import "compass";
@import "konrad";

/* GLOBAL VARIABLES */

/* funkcje z _konrad.scss */
$sied-nav-segment-lg: navi-segment(1170, 350, 4, 10);
$sied-nav-segment-md: navi-segment(970, 350, 4, 20);
$sied-nav-segment-sm: navi-segment(750, 350, 4, 28);

$icons: sprite-map("icons/*.png");

$themeBg: #202020 !default;
$orange: #e08e22 !default;
$gray: #878787 !default;
$lightGray: #383836 !default;

$mediaHeading: #e08e22 !default;
$more: #d95604 !default;
$data: #d95604 !default;

/* /GLOBAL VARIABLES - END */



.inblock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.banner-space {
	margin-top:28%;
	display:block;
}
.centerME {
	margin-left:auto;
	margin-right:auto;
	float:none;
}
.logo13 {
	position: absolute;
	left:50%;
	@include transition-property(all);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in-out);
}
/* Buttons */
.btn-lg {
	padding: 7px 40px;
	font-weight: 400;
}
#pageHeader,
#pageContent,
#pageFooter {
	position: relative;
	z-index:5;
	color: #FFF;

	img, iframe {
		width: 100%;
	}
}
/* MAIN SECTIONS TAGS */
#pageHeader {
	background: $themeBg;
	padding: 10px 0;
	h1 {
		font-weight: 700;
		color: $orange;
	}
	h2 {
		color: $gray;
	}
}
#pageContent {
	@extend #pageHeader;
	iframe {
		min-height:300px;
	}
}
#pageContent.home {
	padding-bottom:40px;
}

/* SPRITE CLASS GENERATOR :) */
.ico { @extend .inblock; }
.ico {
	background: $icons;
	margin:0 4px;

	}
@each $i in sprite_names($icons) {
	.#{$i} {
		background-position: sprite-position($icons, $i);
		@include sprite-dimensions($icons, $i);
	}
}
/* SPRITE CLASS GENERATOR - END :) */

/* NAV STYLES */
.navbar-default {
	background: #383836;
	background: linear-gradient(to bottom, #383836, #050404);
	border:0;
	border-radius:0;
	text-transform:uppercase;
	margin-bottom:0px;
	width:100%;
	z-index:100;
	.container {
		padding: 0px;
		position: relative;
		.nav {
			position: relative;
			z-index: 5;
		}
	}
	.navbar-collapse {
		padding: 0px;
	}
	.navbar-nav {

		li {
			
			a {
				padding:0px;
			}
		}
		.no_hover:hover, 
		.no_hover.active {
			border: none;
		}
	}
}
/* Bootstrap overwrite */
/* .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
} */
/* STICKY PART */
.is-sticky .logo13 {
	width: 100px;
	margin-left: -50px;
	z-index:1;

	
}
.navbar-nav  {
	> li  {
		height:50px;
		line-height:50px;
		&.active, &:hover {
				border-bottom:3px solid $orange;
				a {
					color: $orange;
				}
		}
		> a {
			@extend .inblock;
			line-height:1.2;
			vertical-align: middle;
		}
		
	}
}

/* CAROUSEL STYLES*/
#itemCarousel, 
#itemCarousel-xs {
	.item article {
		border-right:2px dashed #000;
	}
	.carousel-arrow {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 50px;
		line-height: 40px;
		color: #FFF;
		border-radius: 500px;
		background: rgba(97, 97, 97, 0.8);
		outline: none;
		text-decoration: none;
		&.left {
			left:0;
		}
		&.right {
			right:0;
		}
		&:hover {
			text-decoration: none;
			background: rgba(97, 97, 97, 0.6);
		}
	}
}

/* MEDIA */
.media {
	overflow:visible;
}

.itemGray, .news-item {
	color: #FFF;
	margin-top:15px;
	.media-heading {
		color: $mediaHeading;
		margin: 0 0 20px;
		font-size:21px;
		font-weight:700;
	}
	.media-body {
		padding:20px 5px 20px 23px;
	}
	.relative-img {
		display:block;
		position: relative;
		padding:0;
		.data {
			position: absolute;
			left:0;
			top:0;
		}
	}
	.more {
		color:$more;
		display:block;
		text-align:right;
		padding:0 20px 0 0;
		float: right;
	}
	.tags {
		color:$more;
		padding:20px 0 5px 10px;
	}
	.data {
		display: block;
		background: #000;
		background: rgba(0, 0, 0, 0.9);
		color: #FFF;
		font-weight: 700;
		padding:2px 6px;
	}
	em {
		font-style:normal;
		color: #FFF;
	}
	.description {
		padding: 10px 10px 0px 10px;

		.media-heading, a {
			margin:0;
			@extend .inblock;
		}
		.tags {
			padding-left:0px;
		}
	}
}
.itemGray {
	background: $lightGray;
}

/* NEWS ITEM */
.news-item {
	color: #FFF;
	.data {
		position: relative;
		background: none;
		padding:30px 0;
	}
	.tags {
		padding: 30px 0;
	}
}

/* BAR SECTION*/
.middleBar {
	display:block;
	background: $lightGray;
	width: 10px;
	height: 102%;
	position: absolute;
	left: 50%;
	margin-left:-5px;
	margin-top:-2%;
	border-radius:10px;
}
.left-bar, .right-bar{
	position: relative;
	&:after {
		display: block;
		content:" ";
		position: absolute;
		top:50%;
		width:3.5%;
		height:4px;
		background: $lightGray;
		margin-top:-2px;
	}
}
.left-bar {
	&:after{
		left:100%;
		
	}
}
.right-bar {
	&:after{
		right:100%;
	}
}
/* CONCERTS SECTION  */
.concerts {
	[class*=bar] {
		margin-top:50px;
	}
	[class*=left-bar]:first-child {
		margin-top:0;
	}
	.itemGray {
		padding:20px;
		h4 {
			font-size:36px;
			color: $mediaHeading;
			text-transform: uppercase;
			font-weight: 400;
			text-align: center;
		}
		h5 {
			font-size:18px;
			min-height:70px;
		}
	}
}
/* BAND */
#pageContent .member {
	float:none;
	@extend .inblock;
	text-align:left;
	color: #FFF;
	font-size:14px;
	h4 {
		font-size:24px;
		color: $orange;
		text-align:center;
	}
}
.band-history {
	h4 {
		font-size:24px;
		color: $orange;
		text-align:center;
	}
}
/* Guest book */
.sponsorItem {
	margin: 0 0 15px 0;
}
#guestBookEntries {
	margin: 20px 0 20px 0;
}
.entryItem {
	position: relative;
	background: $lightGray;
	padding:10px 15px 20px 15px;
	margin: 0 0 15px 0;
	font-style: italic;
	time,h5 {
		font-style: normal;
		margin: 5px 0;
		line-height: 1.2;
	}
	time {
		color: $data;
		font-size:12px;
	}
	h5 {
		color: $mediaHeading;
		font-size:16px;
	}
}

/* GALLERY BLOCK */
.gallery {
	.thumbnail {
		position: relative;
		@include transition-property(all);
		@include transition-duration(0.4s);
		@include transition-timing-function(ease-in-out);

		&:hover .title{
			@include box-shadow(rgba(black, 0.6) 500px 0 0 0 inset);
		} 
	}
	.title {
		display: block;
		position: absolute;
		padding: 5px;

		font-size: 14px;
		line-height: 1.2;
		color: #FFF;
		bottom: 4px;
		left: 4px;
		right: 4px;
		@include transition-property(all);
		@include transition-duration(0.4s);
		@include transition-timing-function(ease-in-out);
		background: rgba(0, 0, 0, 0.4);
		overflow: hidden;


	}
}


/* SPONSOR BLOCK */
#sponsorBlock {
	article {
		margin:15px 0 15px 0;
	}
}
/* FOOTER SECTION */
#pageFooter {
	background: $themeBg;
	border-top:2px dashed #000;
	padding:30px 0 150px 0;
	color: #FFF;
	a {
		color: #FFF;
	}
}
/* FB STYLES */
#facebook {

}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText {
    color: #fff;
}

.fbFeedbackPost .postText {
	color: #fff;
}
/* END FB STYLES */


/* Query section */
@media only screen  and (min-width : 0px) {
	#cover-foto {
		position: fixed; 
		top: 0; 
		left: 0;
		z-index:1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
	}
	.logo13 {
		display:block;
		width: 100px;
		left: 3%;
		top: 0;
		margin-left: 0px;

	}
	.is-sticky .logo13 {
		margin-left: 0px;
	}
	.container > .navbar-header {
		padding: 0 20px;
		.navbar-toggle {
			margin-right:0;
		}

	}
	.container > .navbar-header, 
	.container > .navbar-collapse {
		margin-left:0px;
		margin-right:0px;
	}


	.navbar-default {
		.navbar-nav {
			margin: 7.5px 25px;
			li{
				text-align: left;
				a {
					display: block;
					padding: 14px 0;
				}
				.ico {
					padding: 0;
					display: inline-block;
					*display: inline;
					*zoom: 1;
				}
			}
		}
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #333;
	}
	.btn-lg {
		padding: 7px 40px;
	}
	#itemCarousel,
	#itemCarousel-xs {
		padding: 15px 0 30px 0;
		h2 {
			font-size:100%;
		}
	}
	.left-bar, .right-bar {
		&:after {
			display:none;
		}
	}
	.banner {
		display: block;
		margin-top:15px;
	}

	#pageFooter > section {
		padding: 20px 0;
		address {
			overflow:hidden;
		}
	}
	.concerts {
		.itemGray { 
			h4 {
				font-size: 120%;
				margin: 0px;
			}
			h5 {
				font-size: 80%;
				min-height:0;
			}

		}
		& [class*="bar"] {
			margin-top: 10px;
		}
		& [class*="left-bar"]:first-child {
			margin-top: 0;
		}
	}

	#pageContent .member {
		padding:0 20px 20px 20px;
		text-align: justify;
		vertical-align: top;
		h4 {
			text-align: left;
			padding-left: 0px;
			font-size:21px;
			font-weight: 700;
		}
		img {
			padding: 15px 25px 15px 0px;
		}
	}
	.news-item-mobile .media-heading {
		margin: 0px;
	}
	.media {
		.tags {
			padding-top:0px;
		}
	}
	.home .left-bar .media-heading {
		float:left;
		margin-bottom: 0px;
	}
	.itemGray {
		.media-body {
			padding:10px 5px 10px 10px;
			h4 {
				font-size:120%;
			}
			a {
				font-size:90%;
			}
		}
		.description {
			h4 {
				font-size:120%;
			}
			a {
				font-size:90%;
			}
		}
	}
}
@media only screen  and (min-width : 768px) {
	.navbar-default .navbar-nav {
		margin: 0px;

		&.navbar-right:last-child {
		    margin-right: 0;
		}
		> li {
			width: $sied-nav-segment-sm;
			text-align: center;
			a {
				display: inline-block;
				*display: inline;
				*zoom: 1;
				padding: 0;
				font-size: 78%;
			}
		}
	}
	.left-bar, .right-bar {
		&:after {
			display:block;
		}
	}
	.logo13 {
		bottom:5px;
		top: auto;
		display:block;
		width: 200px;
		left:50%;
		margin-left: -100px;
	}
	.is-sticky .logo13 {
		margin-left: -50px;
	}
	.btn-lg {
		padding: 7px 20px;
	}
	
	.banner {
		margin-top: 0px;
	}
	#pageHeader h1 {
		font-size: 160%;
	}
	#pageFooter > section {
		padding: 0;
	}
	#itemCarousel {
		padding: 15px 0 30px 0;
		h2 {
			font-size:140%;
		}
	}
	.concerts {
		.itemGray { 
			h4 {
				font-size: 180%;
			}
			h5 {
				font-size: 120%;
				min-height: 100px;
			}

		}
		& [class*="bar"] {
			margin-top: 25px;
		}
		& [class*="left-bar"]:first-child {
			margin-top: 0;
		}
	}
	.home .left-bar .media-heading {
		float:left;
		margin-bottom: 14px;
	}
	.itemGray {
		.media-body {
			padding:10px 5px 10px 10px;
			h4 {
				font-size:21px;
			}
			a {
				font-size:14px;
			}
		}
		.description {
			h4 {
				font-size:21px;
			}
			a {
				font-size:14px;
			}
		}
	}

}
@media only screen  and (min-width : 992px) {

	.navbar-default .navbar-nav {

		> li {
			width: $sied-nav-segment-md; 
			text-align: center;
			a {
				font-size: 92%;
			}
		}
	}
	.logo13 {
		width: 300px;
		margin-left: -150px;
		bottom: 0;
	}
	.is-sticky .logo13 {
		bottom:0;
	}

	.btn-lg {
		padding: 7px 30px;
	}
	#itemCarousel {
		padding: 15px 0 30px 0;
		h2 {
			font-size:150%;
		}
	}
	.concerts {
		.itemGray { 
			h4 {
				font-size:200%;
			}
			h5 {
				min-height: 60px;
				font-size: 120%;
			}
		}
		& [class*="bar"] {
			margin-top: 35px;
		}
		& [class*="left-bar"]:first-child {
			margin-top: 0;
		}
		
	}
	#pageHeader h1 {
		font-size: 200%;
	}
	#pageContent .member {
		padding: 0px 5px;
		text-align: left;
		h4 {
			text-align: center;
			padding-left: 15px;
		}
		img {
			padding: 0px;
		}
	}
	.home .left-bar .media-heading {
		float: none;
	}
	.media {
		.tags {
			padding-top:20px;
		}
	}

}
@media only screen  and (min-width : 1200px) {
	.navbar-default .navbar-nav 
		> li {
			width: $sied-nav-segment-lg; 
			text-align: center;
			 a {
				font-size: 100%;
			}
	}

	.logo13 {
		left: 50%;
		bottom: -10px;
		width: 350px;
		margin-left: -175px;
	}
	.is-sticky .logo13 {
		bottom:0;
	}
	.btn-lg {
		padding: 7px 40px;
	}
	#itemCarousel {
		padding: 15px 0 30px 0;
		h2 {
			font-size:180%;
		}
	}
	#pageContent .member {
		padding: 0px 10px;
		text-align: left;
		h4 {
			text-align: center;
			padding-left: 15px;
		}
		img {
			padding: 0px;
		}
	}
}