/* GLOBAL VARIABLES */
/* funkcje z _konrad.scss */
/* /GLOBAL VARIABLES - END */
.inblock, .ico, .navbar-nav > li > a, .itemGray .description .media-heading, .itemGray .description a, .news-item .description .media-heading, .news-item .description a, #pageContent .member {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.banner-space {
  margin-top: 28%;
  display: block;
}

.centerME {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.logo13 {
  position: absolute;
  left: 50%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Buttons */
.btn-lg {
  padding: 7px 40px;
  font-weight: 400;
}

#pageHeader, #pageContent,
#pageContent,
#pageFooter {
  position: relative;
  z-index: 5;
  color: #FFF;
}
#pageHeader img, #pageContent img, #pageHeader iframe, #pageContent iframe,
#pageContent img,
#pageContent iframe,
#pageFooter img,
#pageFooter iframe {
  width: 100%;
}

/* MAIN SECTIONS TAGS */
#pageHeader, #pageContent {
  background: #202020;
  padding: 10px 0;
}
#pageHeader h1, #pageContent h1 {
  font-weight: 700;
  color: #e08e22;
}
#pageHeader h2, #pageContent h2 {
  color: #878787;
}

#pageContent iframe {
  min-height: 300px;
}

#pageContent.home {
  padding-bottom: 40px;
}

/* SPRITE CLASS GENERATOR :) */
.ico {
  background: url('../../images/icons-s2562d58bd4.png');
  margin: 0 4px;
}

.fb {
  background-position: 0 0;
  height: 30px;
  width: 31px;
}

.yt {
  background-position: 0 -30px;
  height: 30px;
  width: 30px;
}

/* SPRITE CLASS GENERATOR - END :) */
/* NAV STYLES */
.navbar-default {
  background: #383836;
  background: linear-gradient(to bottom, #383836, #050404);
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100%;
  z-index: 100;
}
.navbar-default .container {
  padding: 0px;
  position: relative;
}
.navbar-default .container .nav {
  position: relative;
  z-index: 5;
}
.navbar-default .navbar-collapse {
  padding: 0px;
}
.navbar-default .navbar-nav li a {
  padding: 0px;
}
.navbar-default .navbar-nav .no_hover:hover,
.navbar-default .navbar-nav .no_hover.active {
  border: none;
}

/* Bootstrap overwrite */
/* .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
} */
/* STICKY PART */
.is-sticky .logo13 {
  width: 100px;
  margin-left: -50px;
  z-index: 1;
}

.navbar-nav > li {
  height: 50px;
  line-height: 50px;
}
.navbar-nav > li.active, .navbar-nav > li:hover {
  border-bottom: 3px solid #e08e22;
}
.navbar-nav > li.active a, .navbar-nav > li:hover a {
  color: #e08e22;
}
.navbar-nav > li > a {
  line-height: 1.2;
  vertical-align: middle;
}

/* CAROUSEL STYLES*/
#itemCarousel .item article,
#itemCarousel-xs .item article {
  border-right: 2px dashed #000;
}
#itemCarousel .carousel-arrow,
#itemCarousel-xs .carousel-arrow {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  color: #FFF;
  border-radius: 500px;
  background: rgba(97, 97, 97, 0.8);
  outline: none;
  text-decoration: none;
}
#itemCarousel .carousel-arrow.left,
#itemCarousel-xs .carousel-arrow.left {
  left: 0;
}
#itemCarousel .carousel-arrow.right,
#itemCarousel-xs .carousel-arrow.right {
  right: 0;
}
#itemCarousel .carousel-arrow:hover,
#itemCarousel-xs .carousel-arrow:hover {
  text-decoration: none;
  background: rgba(97, 97, 97, 0.6);
}

/* MEDIA */
.media {
  overflow: visible;
}

.itemGray, .news-item {
  color: #FFF;
  margin-top: 15px;
}
.itemGray .media-heading, .news-item .media-heading {
  color: #e08e22;
  margin: 0 0 20px;
  font-size: 21px;
  font-weight: 700;
}
.itemGray .media-body, .news-item .media-body {
  padding: 20px 5px 20px 23px;
}
.itemGray .relative-img, .news-item .relative-img {
  display: block;
  position: relative;
  padding: 0;
}
.itemGray .relative-img .data, .news-item .relative-img .data {
  position: absolute;
  left: 0;
  top: 0;
}
.itemGray .more, .news-item .more {
  color: #d95604;
  display: block;
  text-align: right;
  padding: 0 20px 0 0;
  float: right;
}
.itemGray .tags, .news-item .tags {
  color: #d95604;
  padding: 20px 0 5px 10px;
}
.itemGray .data, .news-item .data {
  display: block;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
  font-weight: 700;
  padding: 2px 6px;
}
.itemGray em, .news-item em {
  font-style: normal;
  color: #FFF;
}
.itemGray .description, .news-item .description {
  padding: 10px 10px 0px 10px;
}
.itemGray .description .media-heading, .itemGray .description a, .news-item .description .media-heading, .news-item .description a {
  margin: 0;
}
.itemGray .description .tags, .news-item .description .tags {
  padding-left: 0px;
}

.itemGray {
  background: #383836;
}

/* NEWS ITEM */
.news-item {
  color: #FFF;
}
.news-item .data {
  position: relative;
  background: none;
  padding: 30px 0;
}
.news-item .tags {
  padding: 30px 0;
}

/* BAR SECTION*/
.middleBar {
  display: block;
  background: #383836;
  width: 10px;
  height: 102%;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  margin-top: -2%;
  border-radius: 10px;
}

.left-bar, .right-bar {
  position: relative;
}
.left-bar:after, .right-bar:after {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  width: 3.5%;
  height: 4px;
  background: #383836;
  margin-top: -2px;
}

.left-bar:after {
  left: 100%;
}

.right-bar:after {
  right: 100%;
}

/* CONCERTS SECTION  */
.concerts [class*=bar] {
  margin-top: 50px;
}
.concerts [class*=left-bar]:first-child {
  margin-top: 0;
}
.concerts .itemGray {
  padding: 20px;
}
.concerts .itemGray h4 {
  font-size: 36px;
  color: #e08e22;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.concerts .itemGray h5 {
  font-size: 18px;
  min-height: 70px;
}

/* BAND */
#pageContent .member {
  float: none;
  text-align: left;
  color: #FFF;
  font-size: 14px;
}
#pageContent .member h4 {
  font-size: 24px;
  color: #e08e22;
  text-align: center;
}

.band-history h4 {
  font-size: 24px;
  color: #e08e22;
  text-align: center;
}

/* Guest book */
.sponsorItem {
  margin: 0 0 15px 0;
}

#guestBookEntries {
  margin: 20px 0 20px 0;
}

.entryItem {
  position: relative;
  background: #383836;
  padding: 10px 15px 20px 15px;
  margin: 0 0 15px 0;
  font-style: italic;
}
.entryItem time, .entryItem h5 {
  font-style: normal;
  margin: 5px 0;
  line-height: 1.2;
}
.entryItem time {
  color: #d95604;
  font-size: 12px;
}
.entryItem h5 {
  color: #e08e22;
  font-size: 16px;
}

/* GALLERY BLOCK */
.gallery .thumbnail {
  position: relative;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.gallery .thumbnail:hover .title {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 500px 0 0 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 500px 0 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.6) 500px 0 0 0 inset;
}
.gallery .title {
  display: block;
  position: absolute;
  padding: 5px;
  font-size: 14px;
  line-height: 1.2;
  color: #FFF;
  bottom: 4px;
  left: 4px;
  right: 4px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* SPONSOR BLOCK */
#sponsorBlock article {
  margin: 15px 0 15px 0;
}

/* FOOTER SECTION */
#pageFooter {
  background: #202020;
  border-top: 2px dashed #000;
  padding: 30px 0 150px 0;
  color: #FFF;
}
#pageFooter a {
  color: #FFF;
}

/* FB STYLES */
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText {
  color: #fff;
}

.fbFeedbackPost .postText {
  color: #fff;
}

/* END FB STYLES */
/* Query section */
@media only screen and (min-width: 0px) {
  #cover-foto {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Preserve aspet ratio */
    min-width: 100%;
  }

  .logo13 {
    display: block;
    width: 100px;
    left: 3%;
    top: 0;
    margin-left: 0px;
  }

  .is-sticky .logo13 {
    margin-left: 0px;
  }

  .container > .navbar-header {
    padding: 0 20px;
  }
  .container > .navbar-header .navbar-toggle {
    margin-right: 0;
  }

  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-default .navbar-nav {
    margin: 7.5px 25px;
  }
  .navbar-default .navbar-nav li {
    text-align: left;
  }
  .navbar-default .navbar-nav li a {
    display: block;
    padding: 14px 0;
  }
  .navbar-default .navbar-nav li .ico {
    padding: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #333;
  }

  .btn-lg {
    padding: 7px 40px;
  }

  #itemCarousel,
  #itemCarousel-xs {
    padding: 15px 0 30px 0;
  }
  #itemCarousel h2,
  #itemCarousel-xs h2 {
    font-size: 100%;
  }

  .left-bar:after, .right-bar:after {
    display: none;
  }

  .banner {
    display: block;
    margin-top: 15px;
  }

  #pageFooter > section {
    padding: 20px 0;
  }
  #pageFooter > section address {
    overflow: hidden;
  }

  .concerts .itemGray h4 {
    font-size: 120%;
    margin: 0px;
  }
  .concerts .itemGray h5 {
    font-size: 80%;
    min-height: 0;
  }
  .concerts [class*="bar"] {
    margin-top: 10px;
  }
  .concerts [class*="left-bar"]:first-child {
    margin-top: 0;
  }

  #pageContent .member {
    padding: 0 20px 20px 20px;
    text-align: justify;
    vertical-align: top;
  }
  #pageContent .member h4 {
    text-align: left;
    padding-left: 0px;
    font-size: 21px;
    font-weight: 700;
  }
  #pageContent .member img {
    padding: 15px 25px 15px 0px;
  }

  .news-item-mobile .media-heading {
    margin: 0px;
  }

  .media .tags {
    padding-top: 0px;
  }

  .home .left-bar .media-heading {
    float: left;
    margin-bottom: 0px;
  }

  .itemGray .media-body {
    padding: 10px 5px 10px 10px;
  }
  .itemGray .media-body h4 {
    font-size: 120%;
  }
  .itemGray .media-body a {
    font-size: 90%;
  }
  .itemGray .description h4 {
    font-size: 120%;
  }
  .itemGray .description a {
    font-size: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav {
    margin: 0px;
  }
  .navbar-default .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .navbar-default .navbar-nav > li {
    width: 78px;
    text-align: center;
  }
  .navbar-default .navbar-nav > li a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0;
    font-size: 78%;
  }

  .left-bar:after, .right-bar:after {
    display: block;
  }

  .logo13 {
    bottom: 5px;
    top: auto;
    display: block;
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }

  .is-sticky .logo13 {
    margin-left: -50px;
  }

  .btn-lg {
    padding: 7px 20px;
  }

  .banner {
    margin-top: 0px;
  }

  #pageHeader h1, #pageContent h1 {
    font-size: 160%;
  }

  #pageFooter > section {
    padding: 0;
  }

  #itemCarousel {
    padding: 15px 0 30px 0;
  }
  #itemCarousel h2 {
    font-size: 140%;
  }

  .concerts .itemGray h4 {
    font-size: 180%;
  }
  .concerts .itemGray h5 {
    font-size: 120%;
    min-height: 100px;
  }
  .concerts [class*="bar"] {
    margin-top: 25px;
  }
  .concerts [class*="left-bar"]:first-child {
    margin-top: 0;
  }

  .home .left-bar .media-heading {
    float: left;
    margin-bottom: 14px;
  }

  .itemGray .media-body {
    padding: 10px 5px 10px 10px;
  }
  .itemGray .media-body h4 {
    font-size: 21px;
  }
  .itemGray .media-body a {
    font-size: 14px;
  }
  .itemGray .description h4 {
    font-size: 21px;
  }
  .itemGray .description a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-default .navbar-nav > li {
    width: 97.5px;
    text-align: center;
  }
  .navbar-default .navbar-nav > li a {
    font-size: 92%;
  }

  .logo13 {
    width: 300px;
    margin-left: -150px;
    bottom: 0;
  }

  .is-sticky .logo13 {
    bottom: 0;
  }

  .btn-lg {
    padding: 7px 30px;
  }

  #itemCarousel {
    padding: 15px 0 30px 0;
  }
  #itemCarousel h2 {
    font-size: 150%;
  }

  .concerts .itemGray h4 {
    font-size: 200%;
  }
  .concerts .itemGray h5 {
    min-height: 60px;
    font-size: 120%;
  }
  .concerts [class*="bar"] {
    margin-top: 35px;
  }
  .concerts [class*="left-bar"]:first-child {
    margin-top: 0;
  }

  #pageHeader h1, #pageContent h1 {
    font-size: 200%;
  }

  #pageContent .member {
    padding: 0px 5px;
    text-align: left;
  }
  #pageContent .member h4 {
    text-align: center;
    padding-left: 15px;
  }
  #pageContent .member img {
    padding: 0px;
  }

  .home .left-bar .media-heading {
    float: none;
  }

  .media .tags {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-default .navbar-nav
  > li {
    width: 112.5px;
    text-align: center;
  }
  .navbar-default .navbar-nav
  > li a {
    font-size: 100%;
  }

  .logo13 {
    left: 50%;
    bottom: -10px;
    width: 350px;
    margin-left: -175px;
  }

  .is-sticky .logo13 {
    bottom: 0;
  }

  .btn-lg {
    padding: 7px 40px;
  }

  #itemCarousel {
    padding: 15px 0 30px 0;
  }
  #itemCarousel h2 {
    font-size: 180%;
  }

  #pageContent .member {
    padding: 0px 10px;
    text-align: left;
  }
  #pageContent .member h4 {
    text-align: center;
    padding-left: 15px;
  }
  #pageContent .member img {
    padding: 0px;
  }
}
